<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<% unless current_user == @user %>
  <% if current_user.followings.present? && current_user.followings.map(&:follower_id).include?(@user.id) %>
    <%= link_to "Unfollow",following_path(:follower_id => @user), :method => :delete, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Follow", followings_path(:follower_id => @user), :method => :post, class: "btn btn-primary" %>
  <% end %>
<% end %>
<%= link_to 'Back', posts_path, class: "btn btn-primary" %>
